<div id="chart-container">
<div class="carousel carousel-1 slide  noborder" id="dashboard-carousel">
<ul class="nav nav-pills">
  <li data-target="#dashboard-carousel" id="pill_usage" data-slide-to="0" class="active"><a href="#">Energy Cost</a></li>
  <li data-target="#dashboard-carousel" id="pill_weather" data-slide-to="1"><a href="#">Weather Impact</a></li>
  <!--
  <li data-target="#dashboard-carousel" id="pill_schedule" data-slide-to="2"><a href="#">Schedule Impact</a></li>
  -->
  <li data-target="#dashboard-carousel" id="pill_end_use_distribution" data-slide-to="2"><a href="#">End Use Distribution</a></li>
  <%= render :partial => '/your_usage/fuel_switch', :locals => {:fuel_type => @fuel_type}  %>

</ul>
<div class="separator"></div>

<div class="widget-body noborder">
<div id="your-cost-carousel" class="carousel-inner">
<!-- Item -->
<!--
      <div class="item active" id="cost">
        <div class="row innerR">

          <div id="cost_recomm" class="text col-md-6 relativeWrap">
            <#%= render :partial => "/your_electric/cost/recent_recomm" %>
          </div>
          <div class="chart col-md-6" id="chart_cost">
            <div class="header">
              <div class="dropdown btn-group pull-right">
                <a class="btn-xs btn-default" data-toggle="dropdown" href="#">
                  <i class="fa fa-bars
                  icon-excel"></i>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0);">Download data as Excel</a></li>
                  <li><a href="javascript:void(0);">Download data as CSV</a></li>
                  <li><a href="javascript:void(0);">Print chart as PNG</a></li>
                  <li><a href="javascript:void(0);">Print chart as JPG</a></li>
                </ul>
              </div>

              <div class="btn-group pull-right">
                  <a  data-wysihtml5-command="insertUnorderedList" class="btn-xs  btn-default"  data-toggle="tooltip" data-original-title="Click to download as excel"
                      data-placement="bottom" href="javascript:;" unselectable="on"><i class="fa fa-file-excel-o
                  icon-excel"></i></a>
                  <a data-wysihtml5-command="insertOrderedList" class="btn-xs  btn-default" data-toggle="tooltip" data-original-title="Click to download as csv"
                     data-placement="bottom" href="javascript:;" unselectable="on"><i class="fa fa-bars icon-pdf"></i></a>
              </div>

              <ol class="list-inline pull-left">
                <li>
                  <label class="radio-custom">
                    <input id="cost_3_months" type="radio"   onClick="load_chart('cost_chart', '/your_electric/cost?building_id=<%= @building_id %>&chart=last_month');" name="radio_1">
                    <i class="fa fa-circle-o"></i> Last Month
                  </label>
                </li>
                <li>
                  <label class="radio-custom">
                    <input id="cost_6_months" type="radio" checked="checked" onClick="load_chart('cost_chart','/your_electric/cost?building_id=<%= @building_id %>&chart=recent');"
                           name="radio_1">
                    <i class="fa fa-circle-o checked"></i> 6 Months
                  </label>
                </li>
                <li>
                  <label class="radio-custom">
                    <input id="cost_annual" type="radio" name="radio_1" onClick="load_chart('cost_chart', '/your_electric/cost?building_id=<%= @building_id %>&chart=annual');">
                    <i class="fa fa-circle-o"></i> Annual
                  </label>
                </li>
              </ol>

            </div>
            <div id="cost_chart">
              <#%= render :partial => "/your_electric/cost/recent_chart" %>
            </div>
            <a class="chart-toggle" href="#">toggle</a>
          </div>
        </div>
        <div class="row" id="cost_full_length_recomm">

        </div>
      </div>
      -->
<!-- // Item END -->
<!-- Item -->
<div class="item active"  id="usage">
  <div class="row innerR">
    <div id="usage_recomm" class="text col-md-6 relativeWrap">
      <%= render :partial => "/your_electric/usage/recent_recomm" %>
    </div>
    <div class="chart col-md-6" id="chart_usage">
      <div class="header">
        <div class="dropdown btn-group pull-right">
          <a class="btn-xs btn-default" data-toggle="dropdown" href="#">
            <i class="fa fa-bars
                  icon-excel"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0);">Download data as Excel</a></li>
            <li><a href="javascript:void(0);">Download data as CSV</a></li>
            <li><a href="javascript:void(0);">Print chart as PNG</a></li>
            <li><a href="javascript:void(0);">Print chart as JPG</a></li>
          </ul>
        </div>
        <ol class="list-inline pull-left">
          <li>
            <label class="radio-custom">
              <input id="usage_3_months" type="radio"   onClick="load_chart('usage_chart', '/your_electric/usage?building_id=<%= @building_id %>&chart=last_month');" name="radio_2">
              <i class="fa fa-circle-o"></i> Last Month
            </label>
          </li>
          <li>
            <label class="radio-custom">
              <input id="usage_6_months" type="radio" checked="checked" onClick="load_chart('usage_chart', '/your_electric/usage?building_id=<%= @building_id %>&chart=recent');"
                     name="radio_2">
              <i class="fa fa-circle-o checked"></i> 6 Months
            </label>
          </li>
          <li>
            <label class="radio-custom">
              <input id="usage_annual" type="radio" name="radio_2" onClick="load_chart('usage_chart', '/your_electric/usage?building_id=<%= @building_id %>&chart=annual');">
              <i class="fa fa-circle-o"></i> Annual
            </label>
          </li>
        </ol>

      </div>
      <div id="usage_chart">
        <%= render :partial => "/your_electric/usage/recent_chart" %>
      </div>
      <!--
      <div class="row">
        <div class="btn-group col-md-12 innerLR centered" style="text-align:center;">
          <#%= link_to "/your_usage/monthly_chart?content_id=chart-container", :method => "GET", :id => "utility-button", :class => "btn-sm btn-default active", :remote => true do %>
              Monthly
          <#% end %>
          <#%= link_to "/your_usage/daily_chart?content_id=chart-container", :method => "GET", :id => "enduser-button", :class => "btn-sm btn-default", :remote => true do %>
              Daily
          <#% end %>
        </div>
      </div>
      -->
    </div>
  </div>
  <div class="row" id="usage_full_length_recomm">
  </div>
</div>
<!-- // Item END -->
<!-- Item -->
<div class="item"  id="weather"  style="height:450px;">
  <div class="row innerR">
    <div id="weather_recomm" class="text col-md-6 relativeWrap" style="display:none;">
    </div>
    <div class="chart col-md-12" id="chart_weather">
      <div class="header">
        <div class="dropdown btn-group pull-right">
          <a class="btn-xs btn-default" data-toggle="dropdown" href="#">
            <i class="fa fa-bars
                  icon-excel"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0);">Download data as Excel</a></li>
            <li><a href="javascript:void(0);">Download data as CSV</a></li>
            <li><a href="javascript:void(0);">Print chart as PNG</a></li>
            <li><a href="javascript:void(0);">Print chart as JPG</a></li>
          </ul>
        </div>
        <ol class="list-inline pull-left">
          <li>
            <label class="radio-custom">
              <input id="weather_3_months" type="radio"   onClick="load_chart('weather_chart', '/your_electric/weather?building_id=<%= @building_id %>&chart=last_month_usage');" name="radio_3">
              <i class="fa fa-circle-o checked"></i> Last Month
            </label>
          </li>
          <li>
            <label class="radio-custom">
              <input id="weather_6_months" type="radio" checked="checked" onClick="load_chart('weather_chart', '/your_electric/weather?building_id=<%= @building_id %>&chart=recent_usage');"
                     name="radio_3">
              <i class="fa fa-circle-o"></i> 6 Months
            </label>
          </li>
          <!--
                <li>
                  <label class="radio-custom">
                    <input id="weather_annual" type="radio" name="radio_3" onClick="load_chart('weather_chart', '/your_electric/weather?building_id=<%= @building_id %>&chart=annual_usage');">
                    <i class="fa fa-circle-o"></i> Annual
                  </label>
                </li>
                -->
        </ol>

      </div>
      <div id="weather_chart">
        <%= render :partial => "/your_electric/weather/recent_usage_chart" %>
      </div>
      <a class="chart-toggle" href="#">toggle</a>
    </div>
  </div>
  <div class="row" id="weather_full_length_recomm">
    <%= render :partial => "/your_electric/weather/recent_recomm" %>
  </div>
</div>
<!-- // Item END -->
<!-- Item -->
<!--
<div class="item"  id="energy_analytics">
  <div class="row innerR">
    <div id="energy_analytics_chart" class="text col-md-12 relativeWrap">
      <#%= render :partial => "/your_electric/usage/energy_analytics" %>
    </div>
  </div>
  <div class="row" id="schedule_full_length_recomm">
  </div>
</div>
-->
<!-- // Item END -->
<!-- Item -->
<div class="item"  id="end_use_distribution">
  <div class="row innerR">
    <div id="end_use_distribution_chart" class="text col-md-12 relativeWrap">
      <%= render :partial => "/your_electric/usage/end_use_distribution/end_use_distribution_chart" %>
    </div>
  </div>
  <div class="row" id="end_use_full_length_recomm" style="position:relative;top:-25px;">
    <%= render :partial => "/your_electric/usage/end_use_distribution/end_use_distribution_recomm" %>
  </div>
</div>
<!-- // Item END -->
</div>
</div>
</div> <!-- .carousel -->
</div>
