
    <table class="dynamicTable colVis table">

  <!-- Table heading -->
  <thead class="bg-gray">
  <tr>
    <th width="30%">Building Name</th>
    <th width="15%">GSF</th>
    <th width="15%">Consumption(kWh)</th>
    <th width="15%">Peak Demand(kW)</th>
    <th width="15%">Energy Intensity</br>(kWh/SqFt)</th>
  </tr>
  </thead>
  <!-- // Table heading END -->

  <!-- Table body -->
  <tbody>

  <!-- // Table row start -->
  <% @buildings.each do |b| %>
      <tr class="gradeA">
        <td>
          <%= link_to "/home/index?building_id=#{b.building_id}", :title =>"" do %>
              <%= b.building_name %>
          <% end %>
        </td>
        <td class="sorting_1"><%=  number_with_delimiter(b.gsf) %></td>
        <td class="sorting_1"><%=  number_with_delimiter(b.electricity_consumption) %></td>
        <td class="sorting_1"><%=  number_with_delimiter(b.peak_demand) %></td>
        <td class="sorting_1"><%= (b.electricity_consumption/b.gsf).round(2)%>&nbsp</td>
      </tr>
  <% end %>
  <!-- // Table row END -->

  </tbody>
  <!-- // Table body END -->

</table>

<!-- // Table END -->
<script type="text/javascript">

$( document ).ready(function() {
    console.log("runing javascript code");

    function fnInitCompleteCallback(that)
    {
        var p = that.parents('.dataTables_wrapper').first();
        var l = p.find('.row').find('label');

        l.each(function(index, el) {
            var iw = $("<div>").addClass('col-md-8').appendTo($(el).parent());
            $(el).parent().addClass('form-group margin-none').parent().addClass('form-horizontal');
            $(el).find('input, select').addClass('form-control').removeAttr('size').appendTo(iw);
            $(el).addClass('col-md-4 control-label');
        });

        var s = p.find('select');
        s.addClass('.selectpicker').selectpicker();
    }

    if ($('.dynamicTable').size() > 0)
    {
        $('.dynamicTable').each(function()
        {
            if ($(this).is('.colVis'))
            {
                $(this).dataTable({
                    "sPaginationType": "bootstrap",
                    "sDom": "<'row separator bottom'<'col-md-3'f><'col-md-3'l><'col-md-6'C>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ per page"
                    },
                    "oColVis": {
                        "buttonText": "Show / Hide Columns",
                        "sAlign": "right"
                    },
                    "sScrollX": "100%",
                    "sScrollXInner": "100%",
                    "bScrollCollapse": true,
                    "fnInitComplete": function () {
                        console.log("calling fnInitCompleteCallback");
                        fnInitCompleteCallback(this);
                    }
                });
            }
        });
    };
});

</script>
