<div id="onboarding" class="modal clearfix" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="question-01" class="pane question-01 active">
        <div class="question"><h2>What is your primary business activity?<span class="info fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="This is the tool tip text"></span></h2></div>
        <div class="answers">
          <form class="input-group col-md-4">
            <input type="text" class="form-control" placeholder="Type your keywords .. " />
            <span class="input-group-btn"><button type="submit" class="btn btn-inverse"><i class="fa fa-search"></i></button></span>
          </form>
          <ul class="options clearfix">
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                  <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                  <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
              <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
              <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
              <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
              <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
              <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
              <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
              <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
              <span>Option</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div> <!-- end .pane -->

      <div id="question-02" class="pane question-02">
        <div class="question"><h2>What type of occupant are you?<span class="info fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="This is the tool tip text"></span></h2></div>
        <div class="answers">
          <ul class="options clearfix">
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                  <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                  <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                  <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                  <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                  <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                  <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                  <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                  <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                  <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                  <span>Option</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div> <!-- end .pane -->

      <div id="question-03" class="pane question-03">
        <div class="question"><h2>How many employees do you have?<span class="info fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="This is the tool tip text"></span></h2></div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.</div>
        <div class="answers">
          <select class="selectpicker col-md-3" data-style="btn-primary">
            <option value="1-4">1-4</option>
            <option value="5-9">5-9</option>
            <option value="10-19">10-19</option>
            <option value="20-49">20-49</option>
            <option value="50+">50+</option>
          </select>
        </div>
      </div> <!-- end .pane -->

      <div id="question-04" class="pane question-04">
        <div class="question"><h2>How big is your business?<span class="info fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="This is the tool tip text"></span></h2></div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.</div>
        <div class="answers">
          <h3>Do you know the actual size of your business?</h3>
          <div class="business-size">
            <label><input type="radio" name="business-size" value="yes" checked="checked" /> yes</label>
            <label><input type="radio" name="business-size" value="no" /> no</label>
          </div>

          <div class="yes-options clearfix">
            <input type="text" class="form-control size-value" />
            <select class="form-control size-units">
              <option>option 01</option>
              <option>option 02</option>
              <option>option 03</option>
            </select>
          </div>
          <div class="no-options clearfix">
            <ul class="options clearfix">
              <li class="option">
                <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                    <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                    <span>Option</span>
                <% end %>
              </li>
              <li class="option">
                <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                    <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                    <span>Option</span>
                <% end %>
              </li>
              <li class="option">
                <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                    <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                    <span>Option</span>
                <% end %>
              </li>
              <li class="option">
                <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                    <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                    <span>Option</span>
                <% end %>
              </li>
              <li class="option">
                <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                    <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                    <span>Option</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div> <!-- end .pane -->

      <div id="question-05" class="pane question-05">
        <div class="question"><h2>How much do you care about energy efficiency?<span class="info fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="This is the tool tip text"></span></h2></div>
        <div class="answers">
          <ul class="options clearfix">
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                  <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                  <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                  <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                  <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                  <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                  <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                  <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                  <span>Option</span>
              <% end %>
            </li>
            <li class="option">
              <%= link_to "#",  :id => "", :title =>"", :class => "", :remote => true do %>
                  <%= image_tag("placeholder-option.jpg", :alt => "[Question Image]") %>
                  <span>Option</span>
              <% end %>
            </li>
          </ul>

          <h3>Would you like to recieve email updates?</h3>
          <label><input type="checkbox" name="email-notification" value="yes" /> Yes, send me email notifications</label>
        </div>
      </div> <!-- end .pane -->

      <ul class="indicators">
        <li class="question-01 fa fa-circle-o fa-circle"></li>
        <li class="question-02 fa fa-circle-o"></li>
        <li class="question-03 fa fa-circle-o"></li>
        <li class="question-04 fa fa-circle-o"></li>
        <li class="question-05 fa fa-circle-o"></li>
      </ul>

      <div class="controls">
        <button class="btn btn-inverse no-thanks">No Thanks</button>
        <a class="skip-link" href="#">Skip Question</a>
        <button class="btn btn-primary next">Next</button>
      </div>

      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
  </div>
</div> <!-- end #onboarding -->
